@font-face {
	font-family: "icomoon";
	src:  url("../fonts/icomoon/icomoon.eot?a2r617");
	src:  url("../fonts/icomoon/icomoon.eot?a2r617#iefix") format("embedded-opentype"),
		url("../fonts/icomoon/icomoon.ttf?a2r617") format("truetype"),
		url("../fonts/icomoon/icomoon.woff?a2r617") format("woff"),
		url("../fonts/icomoon/icomoon.svg?a2r617#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/montserrat-medium.eot");
	src: url("../fonts/montserrat/montserrat-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-medium.woff") format("woff"), url("../fonts/montserrat/montserrat-medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/montserrat-bold.eot");
	src: url("../fonts/montserrat/montserrat-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-bold.woff") format("woff"), url("../fonts/montserrat/montserrat-bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat/montserrat-regular.eot");
	src: url("../fonts/montserrat/montserrat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat/montserrat-regular.woff") format("woff"), url("../fonts/montserrat/montserrat-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
