
body {
	background-image: url("../img/background-1.svg");
	background-position: center center;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.main-wrapper {
	background-color: rgba($white, 0.3);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
}

.border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: transparent;
	padding: 0;
	margin: 0;
	border-radius: 50%;
	border: 4px dashed $accent-border;
	animation: spin 100s linear infinite;
}

.city-name {
	display: flex;
	h1, span {
		padding: 2px;
		font-weight: normal;
		letter-spacing: 2px;
		margin: 0;
		color: $accent-caption;
	}
	h1 {
		font-size: 50px;
	}
	a {
		text-decoration: none;
	}
}

.main-weather {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	.icon-weather {
		position: relative;
		background-color: rgba($white, 0.7);
		margin: 40px;
		height: 300px;
		width: 300px;
		border-radius: 50%;
		span {
			text-transform: capitalize;
			color: #4F8F7D;
			font-size: 20px;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			top: 25px;
			text-align: center;
		}
		img {
			margin-top: 5px;
			height: 100%;
			width: 100%;
		}
	}
	.icon-temp {
		position: absolute;
		height: 130px;
		width: 130px;
		padding: 20px;
		bottom: -10px;
		left: calc(50% - 300px);
		border-radius: 50%;
		background-color: rgba($white, 0.7);
		&:hover, &:focus {
			cursor: pointer;
		}
		.main-temp {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
			span:first-child {
				margin-bottom: 10px;
				font-size: 20px;
			}
			span {
				color: #4F8F7D;
				font-size: 25px;
			}
		}
		.border {
			border: 2px solid $accent-border;
			animation: none;
			// animation: spin 100s linear infinite reverse;
		}
	}

	.icon-humidity {
		@extend .icon-temp;
		bottom: 160px;
		left: 70% ;
		.main-humidity {
			@extend .main-temp;
		}
		&:hover, &:focus {
			cursor: default;
		}
	}

	.icon-pressure {
		@extend .icon-temp;
		bottom: 260px;
		left: 60% ;
		.main-pressure {
			@extend .main-temp;
			span:nth-child(3) {
				font-size: 20px;
				text-align: center;
				margin-top: 10px;
			}
		}
	}

	.icon-wind {
		@extend .icon-temp;
		bottom: 360px;
		left: 20% ;
		.main-wind {
			@extend .main-temp;
			span:nth-child(3) {
				font-size: 20px;
				text-align: center;
				margin-top: 10px;
			}
		}
	}
	.weather {
		min-width: 300px;
		padding: 25px 0;
		p:first-child {
			text-transform: capitalize;
		}
		p {
			color: $accent-text;
			font-size: 18px;
			span {
				cursor: pointer;
				font-size: 20px;
			}
		}
		margin: 40px;
	}
}

.search-form {
	.input-group {
		background-color: transparent;
		background-color: #73993D;
		color: #FFF;
		padding: 8px 20px;
		border: none;
		outline: none;
		text-transform: uppercase;
	}
	input[type = "text"] {
		width: 300px;
		outline: none;
		background-color: rgba(255, 255, 255, 0.5);
		border: 2px solid rgba(68, 136, 119, 0.5);
		padding: 5px 10px;
		transition: all 0.3s ease-in-out;
		letter-spacing: 1px;
		color: #464545;
		margin-right: 5px;
		&::placeholder {
			color: #808080;
			font-size: 14px;
		}
		&:focus, &:hover {
			border: 2px solid $accent-border;
		}
	}
	button[type = "submit"] {
		outline: none;
		border: 2px solid rgba(68, 136, 119, 0.5);
		background-color: rgba(255, 255, 255, 0.5);
		transition: all 0.3s ease-in-out;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		color: #464545;
		width: 100px;
		position: relative;
		display: inline-block;
		padding: 6px 10px;
		&:hover, &:focus {
			letter-spacing: 2px;
			cursor: pointer;
			border: 2px solid $accent-border;
		}
	}
}

@keyframes spin {
	0% {
		transform:rotate(360deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
