body {
	background-image: url("../img/background.svg");
	background-position: center center;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.contacts {
	position: absolute;
	display: flex;
	right: 0;
	margin: 20px;
	a {
		text-decoration: none;
	}
}

.icon {
	font-family: "icomoon" !important;
	font-smoothing: antialiased;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	font-size: 30px;
	text-transform: none;
	line-height: 1;
	border-radius: 50%;
	margin: 0 5px;
	background-color: rgba($placeholder-color, 0.1);
	color: $accent-border;
	padding: 5px;
	transition: all 0.15s;
	&:hover, &:focus, &:active {
		cursor: pointer;
		color: darken($accent-border,10%);
	}
}

.icon-portfolio:before {
	content: "\e900";
}

.icon-github:before {
	content: "\eab0";
}

.main-wrapper {
	background-color: rgba($white, 0.3);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
}

.city-name {
	display: flex;
	h1, span {
		padding: 2px;
		font-weight: normal;
		letter-spacing: 2px;
		margin: 0;
		color: $accent-caption;
	}
	h1 {
		font-size: 50px;
	}
	a {
		text-decoration: none;
	}
}

.main-weather {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
}

.icon-weather {
	position: relative;
	background-color: rgba($white, 0.7);
	margin: 40px;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	span {
		text-transform: capitalize;
		color: $weather-text-color;
		font-size: 20px;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 25px;
		text-align: center;
	}
	img {
		margin-top: 5px;
		height: 100%;
		width: 100%;
	}
	.border {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: transparent;
		padding: 0;
		margin: 0;
		border-radius: 50%;
		border: 4px dotted $accent-border;
		animation: spin 100s linear infinite;
	}
}

.icon-temp {
	border: 2px solid $accent-border;
	height: 130px;
	width: 130px;
	padding: 20px;
	margin: 20px;
	border-radius: 50%;
	background-color: rgba($white, 0.7);
	&:hover, &:focus {
		cursor: pointer;
	}
}

.main-temp {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	span:first-child {
		margin-bottom: 10px;
		font-size: 18px;
	}
	span {
		color: $weather-text-color;
		font-size: 25px;
	}
	span:nth-child(3) {
		font-size: 18px;
		text-align: center;
		margin-top: 10px;
	}
}

.icon-humidity {
	@extend .icon-temp;
	bottom: 160px;
	left: 70% ;
	.main-humidity {
		@extend .main-temp;
	}
	&:hover, &:focus {
		cursor: default;
	}
}

.icon-pressure {
	@extend .icon-temp;
	bottom: 260px;
	left: 60% ;
	.main-pressure {
		@extend .main-temp;
	}
}

.icon-wind {
	@extend .icon-temp;
	bottom: 360px;
	left: 20% ;
	.main-wind {
		@extend .main-temp;
	}
}

.weather {
	min-width: 300px;
	padding: 25px 0;
	p:first-child {
		text-transform: capitalize;
	}
	p {
		color: $accent-text;
		font-size: 18px;
		span {
			cursor: pointer;
			font-size: 20px;
		}
	}
	margin: 40px;
}

.search-form {
	.input-group {
		background-color: transparent;
		color: $white;
		padding: 8px 20px;
		border: none;
		outline: none;
		text-transform: capitalize;
	}
	input[type = "text"] {
		width: 300px;
		border-radius: 40px;
		outline: none;
		background-color: rgba($white, 0.8);
		border: 2px solid rgba($accent-border, 0.6);
		padding: 8px 10px 8px 20px;
		transition: all 0.3s ease-in-out;
		letter-spacing: 1px;
		color: $main-text-color;
		margin-right: 5px;
		font-size: 16px;
		&::placeholder {
			color: $placeholder-color;
			font-size: 16px;
		}
		&:focus, &:hover {
			border: 2px solid $accent-border;
		}
	}
	button[type = "submit"] {
		outline: none;
		border: 2px solid rgba($accent-border, 0.8);
		border-radius: 40px;
		background-color: rgba($white, 0.6);
		transition: all 0.3s ease-in-out;
		text-transform: capitalize;
		font-size: 16px;
		letter-spacing: 1px;
		color: $main-text-color;
		width: 120px;
		position: relative;
		display: inline-block;
		padding: 8px 0;
		letter-spacing: 1px;
		&:hover, &:focus {
			letter-spacing: 2px;
			cursor: pointer;
			border: 2px solid $accent-border;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(360deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
