
body {
	background-image: url("../img/background.svg");
	background-position: center center;
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}

.main-wrapper {
	background-color: rgba(204, 253, 150, 0.3);
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
}

.city-name {
	display: flex;
	h1, span {
		padding: 2px;
		font-weight: normal;
		letter-spacing: 2px;
		margin: 0;
		color: #68BBA7;
	}
	h1 {
		font-size: 50px;
	}
}

.main-weather {
	width: 100%;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	.icon {
		position: relative;
		background-color: rgba(255, 255, 255, 0.3);
		margin: 40px 120px 40px 40px;
		min-height: 300px;
		min-width: 300px;
		border-radius: 50%;

		.border {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			border-radius: 50%;
			border: 4px dashed #90D232;
			animation: spin 100s linear infinite;
			}
		img {
			height: 100%;
			width: 100%;
		}
	}

	.weather {
		min-height: 300px;
		min-width: 300px;
		padding: 25px 0;
		p:first-child {
			text-transform: capitalize;
		}
		p {
			color: #4D6D5E;
			font-size: 18px;
			span {
				cursor: pointer;
				// font-size: 20px;
			}
		}
		margin: 40px;
	}
}

.search-form {
	.input-group {
		background-color: transparent;
		background-color: #73993D;
		color: #FFF;
		padding: 8px 20px;
		// border-radius: 2px;
		// border: 2px solid #90D232;
		border: none;
		outline: none;
		text-transform: uppercase;
	}
	input {
		width: 300px;

		&::placeholder {
			color: rgba(255, 255, 255, 0.4);
		}
	}
	button {
		color: #8F8F8F;
		width: 100px;
		position: relative;
		display: inline-block;
		&:hover {
			cursor: pointer;
			.tooltip {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.tooltip {
		visibility: hidden;
		width: 120px;
		background-color: #555;
		color: #fff;
		text-align: center;
		padding: 5px 0;
		border-radius: 6px;
		position: absolute;
		z-index: 1;
		bottom: 125%;
		left: 50%;
		margin-left: -60px;
		opacity: 0;
		transition: opacity 1s;
		&:after {
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			border-width: 5px;
			border-style: solid;
			border-color: #555 transparent transparent transparent;
		}
	}
}


@keyframes spin {
	0% {
		transform:rotate(360deg);
	}
	100% {
		transform:rotate(0deg);
	}
}
