// Color variables for header
$top-panel-bgnd: #87B448;
$top-panel-border: #71973C;
$input-bgnd: #73993D;
$input-text: #FFF;
$top-a-actv: #666;

// Color variables for content
$left-nav: #59606B;
$left-nav-actv: #87B448;
$left-ad-caption: #7C8695;
$left-ad: #D3D3D3;
$left-a: #1C2534;
$left-bot-ad: #B7BFCD;
$border-between-blocks: #E0E2E6;
$center-but: #FFF;
$center-but-box-sh: rgba(0,0,0,0.3);
$center-img-hover: #F4F7FB;

// Color variables for modal winodw
$modal-bgnd: #FEFEFE;
$modal-shading: rgba(0, 0, 0, 0.2);
$modal-shadow: rgba(0, 0, 0, 0.2);
$span-hover: #000;
$footer-er: #CC0000;

// Color variables for log-in page
$subm-h1: #F3F4F6;
$subm-h2: #333;
$subm-but-box-sh: rgba(0,0,0,0.5);
$subm-p: #C1C1C1;
$subm-file: #C2C2C4;
$subm-success: #4F8A10;
$subm-file-upl: #EEE;