doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="author" content="Alexander Kislov")
		meta(name="copyright" content="Alexander Kislov")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title Weather
		link(rel="shortcut icon" href="img/portfolio.ico" type="image/x-icon")
		link(rel="stylesheet" href="css/main.css")
	body
		.main-wrapper
			.city-name
				h1#city-name
				span#country
			.main-weather
				.icon
					.border
					img#icon-img(src="")
				.weather
					p#desc
					p Температура&nbsp;
						span#temp
					p Влажность&nbsp;
						span#humidity
					p Давление&nbsp;
						span#pressure
					p Скорость ветра&nbsp;
						span#wind
			.search-form
				form#formSubmit(name = "log-in-form")
					input.input-group#input-city(type = "text" name = "input-city" placeholder = "Город" required)
					button.input-group#searchCity Найти
		script(src="js/jquery.min.js")
		script(src="js/main.js")
