doctype html
html
	head
		title Local Weather
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="author" content="Alexander Kislov")
		meta(name="copyright" content="Alexander Kislov")
		meta(name="description" content="")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="shortcut icon" href="" type="image/x-icon")
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		.main-wrapper
			.city-name
				a#linkToMap(href="")
					h1#city-name
				span#country
			.main-weather
				.icon-weather
					span#desc
					.border
					img#icon-img(src="")
				.icon-temp#convertTemp
					.main-temp
						span Temperature
						span#temp
					.border
				.icon-humidity
					.main-humidity
						span Humidity
						span#humidity
					.border
				.icon-pressure#convertPressure
					.main-pressure
						span Pressure
						span#pressure
						span mm of mercury
					.border
				.icon-wind#convertWind
					.main-wind
						span Wind Speed
						span#wind
						span m/s
					.border
				//- .weather
				//- 	p#desc
				//- 	p Temperature&nbsp;
				//- 		span#temp
				//- 	p Humidity&nbsp;
				//- 		span#humidity
				//- 	p Pressure&nbsp;
				//- 		span#pressure
				//- 	p Wind speed&nbsp;
				//- 		span#wind
			.search-form
				form#formSubmit(name = "log-in-form")
					input#input-city(type = "text" name = "input-city" placeholder = "London, UK" required)
					button(type = "submit")#searchCity Search
		script(src="js/jquery.min.js")
		script(src="js/main.js")
