doctype html
html
	head
		title Empty Project
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		form#formSubmit(name = "log-in-form")
			input#input-city(type = "text" name = "input-city" placeholder = "City" required)
			button#searchCity Search
		script(src="js/jquery.min.js")
		script(src="js/main.js")
