doctype html
html
	head
		title Local Weather
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		.main-wrapper
			.city-name
				a#linkToMap(href="")
					h1#city-name
				span#country
			.main-weather
				.icon
					.border
					img#icon-img(src="")
				.weather
					p#desc
					p Temperature&nbsp;
						span#temp
					p Humidity&nbsp;
						span#humidity
					p Pressure&nbsp;
						span#pressure
					p Wind speed&nbsp;
						span#wind
			.search-form
				form#formSubmit(name = "log-in-form")
					input#input-city(type = "text" name = "input-city" placeholder = "London, UK" required)
					button#searchCity Search
						span.tooltip Enter data
		script(src="js/jquery.min.js")
		script(src="js/main.js")
