doctype html
html
	head
		title Empty Project
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		include templates/first part.pug
		include templates/second part.pug
		include templates/third part.pug
		script(src="js/jquery.min.js")
		script(src="js/main.js")
